/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* UFR CSS 
License: MIT License */

body {
    width:80ex;
    font-family:"Consolas","Courier New",monospace;
    font: 12pt;
    line-height: 1.33
}

.footnote{
	font-size: 0.8em;
}

pre {
	font-family:monospace
}

p, p.block {
	text-align: justify;
	margin-bottom: 0.5em;
	margin-bottom: 0.5em
}

p, ul, ol {
	line-height: 1.25em;
	display: block;
}

code, p.element-syntax {
	white-space:pre;
	font-family:"Courier","Courier New", monospace;
	font-size: 10pt;
	margin-top: 1em;
	margin-bottom: 1em;
	}

p.element-syntax {
	background-color:Gainsboro;
	border:solid thin black;
	}

p.block {
	margin-left:1em;
	padding-left:0.5em;
	border-left:1px;
}

p.center {
	text-align:center;
}

div.table {
	white-space:pre;
	font-family:monospace;
	color:#333333;
	font-size: 10pt;
	    line-height:1;
	}

span.nowrap {
	white-space:pre;
}

.artwork {
	color:#333333;
	white-space: pre;
	text-align: left
}

h1.caption {
	text-align:center;
	padding-top:2em;
	padding-bottom:1em;
	margin-left:0ex 
}

.caption {
	padding-top:1em;
	padding-bottom:0.75em;
	text-align:center
}

ul, ol {
	margin-bottom: 1em;
	margin-top: 1em;
	padding-left: 2.5em;
}

ul {
	list-style-type: circle;
	text-align: justify;
} 

ol {
	text-align: justify;
	list-style-type: decimal;
}

.toc_inner {
	padding-left: 2em;
}

h6 {
	font-size:12pt;
}

h5 {
	font-size:12.25pt;
}

h4 {
	font-size:12.5pt;
}

h3 {
	font-size:12.75pt;
}

h2 {
	font-size:13pt;
}

h1 {
	font-size:13.25pt;
} 

h6,h5,h4,h3,h2,h1 {
	font-weight:700;
	margin-left:-30pt;
	margin-bottom: 1.33em;
	margin-top: 1.33em;
}

.rfc2119 { text-transform: lowercase;
           font-variant: small-caps;
           font-style: normal; 
           font-size: 120%
       }

.svg { 	margin:0 auto;
		display: block;
		}