/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, 
h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, 
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, 
tr, th, td, article, aside, canvas, details, embed, figure, 
figcaption, footer, header, hgroup, menu, nav, output, ruby, 
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, 
hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {	border-collapse: collapse; border-spacing: 0; }


/* 
	UFR CSS 
	License: MIT License 
*/

body {
    font-family: sans-serif;
    font-size: 12pt;
    line-height: 1.33;
    padding: 2em 1em 2em 70px;
    color: black;
    background: white;
    background-position: top left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('logo-UFR.png');
}

/* Tables */

table.reference  {
	border-collapse: separate;
	border-spacing: 0;
	width:100%;
	border:0;
	border-spacing:0px 10px;
}

.headertable th, .headertable td { border: 0 none; }
.headertable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0 none;
}

.simpletable {
  margin: 0 auto;
  border: 1px solid #000000;
}
.simpletable th, .simpletable td {
  border: 1px solid #000000;
  padding: 2px;
}

.simpletable th { font-weight: bolder; }

.footnote{ font-size: 0.8em; }

pre { font-family:monospace }

dd, ul, ol, p, p.block { text-align: justify; }

dt {
	margin-bottom: 1ex;
	font-weight: 600;
}

dd {
	margin-left: 36px;
	margin-bottom: 1ex;
}

p, p.block {
	margin-bottom: 0.5em;
	margin-bottom: 0.5em
}

p, ul, ol { line-height: 1.25em;display: block; }

code, p.element-syntax {
	white-space:pre;
	font-family:  monospace;
	font-size: 11pt;
	margin-top: 1em;
	margin-bottom: 1em;
	}

p.element-syntax {
	background-color:#e6e6e6;
	border:solid thin black;
	}

p.block {
	margin-left:1em;
	padding-left:0.5em;
	border-left:1px;
}

.centertext { text-align:center; }
span.nowrap { white-space:pre; }

.artwork {
	color:#333333;
	white-space: pre;
	text-align: left;
	width: 90ex;
	margin: 0 auto;
}

h1.caption {
	text-align:center;
	padding-top:2em;
	padding-bottom:1em;
	margin-left:0ex 
}

.caption {
	padding-top:1em;
	padding-bottom:0.75em;
	text-align:center
}

ul, ol {
	margin-bottom: 1em;
	margin-top: 1em;
	padding-left: 2.5em;
}

ul { list-style-type: circle; } 
ol { list-style-type: decimal; }

.toc_inner { padding-left: 2em; }

h6 { font: 13pt sans-serif }
h5 { font: 13.25pt sans-serif }
h4 { font: 13.5pt sans-serif }
h3 { font: 13.75pt  sans-serif }
h2 { font: 14pt  sans-serif }
h1 { font: 16pt  sans-serif }

h1, h2, h3, h4, h5, h6 { 
	color: #005A9C; 
	background: white; 
	text-align: left; 
	margin: 1.1em 0em;
}

caption {
	margin-bottom: 1ex;
	font-weight: bolder;
}

.rfc2119 { text-transform: lowercase;
           font-variant: small-caps;
           font-style: normal; 
           font-size: 120%
       }

.svg { margin:0 auto;
		display: block;
		}

sub, sup { font-size: .83em }
sub { vertical-align: sub }

sup { vertical-align: super; }

a:link { color: blue; }
a:visited { color: grey; }

a[href]:after { content: "";margin-left: 0; }

a[href^="http://"]:after, a[href^="https://"]:after { 
	content: "⇗"; 
	vertical-align: baseline; 
}